.shows{
   padding: 2vw 5.6vw;
   background-color: #000;

   &__tabs{
      display: flex;
      justify-content: center;
      &__button{
         color: #fff;
         font-size: 20px;
         border: none;
         cursor: pointer;
         
         padding-bottom: 5px;
         background: none;
         margin: 0 1vw;

         &--is-active{
            border-bottom: 5px solid white;
         }
         
      }
   }
   &__list{
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      list-style: none;
      margin-top: 44px;

      &--is-active{
         display: grid;
      }
      &__item{
         color: #fff;
         text-align: center;
         padding-bottom: 30px;
         img{
            max-height: 300px;
         }
      }
      }
   }
